<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>

<p><%= flash[:notice_bat] %> </p>
<p><%= flash[:notice_sup] %> </p>
<h1>Batman VS Superman</h1>
<p>Find me in app/views/pages/batman_vs_superman.html.erb</p>

<body>
<section>
	
		<img src="http://www.planwallpaper.com/static/images/2891179-batman-arkham_knight-review_nologo_20150618.jpg">

		<a href= "<%= pages_batman_url %>"><b>Batman</b>
		</a>

		<form action="<%= pages_user_vote_batman_path %>" method="POST">
			<input name="name">
			<input email="email">
			<input type="submit" value="Enviar">
		</form>

</section>

<section>
	

		<img src="http://static.srcdn.com/wp-content/uploads/Superman-3D-Art.jpg">

		<a href= "<%= pages_superman_url %>"><b>Superman</b>
		</a>

		<form action="<%= pages_user_vote_superman_path %>" method="POST">
			<input name="name">
			<input email="email">
			<input type="submit" value="Enviar">
		</form>

</section>

<%= yield %>

</body>
</html>